* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.todo_app {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.todo_app__header {
    min-height: 100px;
    background-color: aquamarine;
}

.todo_app__list {

}

.todo_app__list__item {
    display: flex;
    list-style: none;
    justify-content: space-between;
    background-color: cadetblue;
    margin-bottom: 1em;
}

.todo_app__list__item__text {
    background-color: green;
    pointer-events: none;
}

.todo_app__list__item.completed .todo_app__list__item__text {
    text-decoration: line-through;
}