* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 14px;
}

.todo_app {
    width: 90%;
    max-width: 500px;
    margin: 100px auto 0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
}

.todo_app__header {
    height: 150px;
    background-color: #4a5357;
    position: relative;
    overflow: hidden;
}

.todo_app__header:after {
    content: '';
    display: block;
    width: 150%;
    height: 50px;
    position: absolute;
    bottom: -25px;
    left: 0;
    background-color: #fff;
    transform: rotate(-2deg);
}

.todo_app__header__form {
    height: 90%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.todo_app__header__form label {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.todo_app__header__form input {
    flex: 1 0 auto;
    outline: none;
    height: 50px;
    border-radius: 25px;
    padding: 0.5em calc(100px + 1em) 0.5em 1em;
    font-size: 1.2em;
    font-weight: 300;
    border: 2px solid transparent;
    transition: .2s;
}

.todo_app__header__form input:focus {
    border: 2px solid #de614f;
}

.todo_app__header__form button {
    position: absolute;
    outline: none;
    height: 40px;
    border-radius: 20px;
    padding: 0 1em;
    font-size: 1.2em;
    font-weight: 700;
    width: 100px;
    background-color: #de614f;
    border: none;
    transition: .2s;
    color: #fff2ef;
    top: 5px;
    right: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo_app__header__form button:hover {
    background-color: #ee6954;
    cursor: pointer;
}

.todo_app__list {
    padding: 0 20px 20px;
}

.todo_app__list__item {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 1em;
    border-radius: 4px;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
    transition: .2s;
    color: #5d5d5d;
}

.todo_app__list__item:hover {
    border-color: transparent;
    background-color: #de614f;
    color: #fff2ef;
}

.todo_app__list__item.completed {
    background-color: transparent;
    border-color: #eaeaea;
    color: #000;
}

.todo_app__list__item__text {
    pointer-events: none;
    margin: 0;
}

.todo_app__list__item__text:first-letter {
    text-transform: uppercase;
}

.todo_app__list__item.completed .todo_app__list__item__text {
    text-decoration: line-through;
    opacity: 0.2;
}

.todo_app__list__item__delete {
    outline: none;
    background: url('../images/delete-button.svg') no-repeat center center;
    background-size: cover;
    height: 30px;
    width: 30px;
    border: 0;
    cursor: pointer;
    transition: .2s;
}

.todo_app__list__item__delete:hover {
    transform: scale(1.1);
}

.todo_app__list__item:hover .todo_app__list__item__delete {
    background-image: url('../images/delete-button-white.svg');
}

.todo_app__list__item.completed .todo_app__list__item__delete {
    background-image: url('../images/delete-button.svg');
}